<html>
    <head>
        <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/hack/0.5.6/hack.css" />
        <!--link rel="stylesheet" type="text/css"
            href="https://npmcdn.com/hack/dist/solarized-dark.css" /-->
        <script type="text/javascript" src="http://cdn.bootcss.com/socket.io/1.4.8/socket.io.min.js"></script>
        <script type="text/javascript" src="http://cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body class="hack solarized-dark">

    <script type="text/javascript">
    $(document).ready(function() {

        var socket = io.connect('http://' + document.domain + ':' + location.port);
        // var socket = io.connect('http://localhost:5555');

        // var data = {'name': 'mike', 'password': 'sails'}
        // socket.emit('post_user', data);  // emit post_user event

        socket.on('connect', function() {
            // socket.emit({'client msg': 'neo1218 has connected!'});
            socket.send('hello neo1218!');
        });

        socket.on('post_user', function(msg) {
            $("#messages").append('<li>'+msg+'<li>');
        });

    });
    </script>

    <div class="container">

    <!--div class="alert alert-warning">Warning message</div-->
    <ul id="messages">
        <li>this is a head...</li>
    </ul>

    <div class="media">
      <div class="media-body">
        <div class="media-heading"><h1>Happy Hacks Hacking</h1></div>
        <div class="media-content">Hacks is a python realtime mvc framework,
        ~~ for modern web development of your dreams </div>
      </div>
    </div>
    </div>

    <hr>

    <div class="container">
        <div class="media-heading">
            $ hack new project_name
        </div>
        <div class="card-content">
            <div class="inner">
                <pre>
                  + create a hacks project
                  + build mvc scaffold
                  + setup hacks app configuration
                  + automatically install extensions
                </pre>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="media-heading">
            $ hack generate -api api_name
        </div>
        <div class="card-content">
            <div class="inner">
                <pre>
                  + implement a full crud restful api as well as search and pagination stuff
                </pre>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="media-heading">
            $ hack boot
        </div>
        <div class="card-content">
            <div class="inner">
                <pre>
                  + boot the debug server:)
                </pre>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="media-heading">
            $_Learn More!
        </div>
        <hr>
        <div class="card-content">
            <div class="btn-group" >
              <button class="btn btn-success btn-ghost">Document</button>
              <button class="btn btn-success btn-ghost">SourceCode</button>
              <button class="btn btn-success btn-ghost">Examples</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <footer>
            Theme powered by: <a href="http://hackcss.com">[hackcss]</a>
        </footer>
    </div>

    </body>
</html>
